<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {{!-- Animate CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    {{!-- Internal CSS --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/87498dd281.js" crossorigin="anonymous"></script>
    <title>Eat Da Burger!</title>
</head>

<body class="body-image">
    {{{ body }}}
</body>

</html>