<header class="jumbotron jumbotron-fluid bg-secondary">
    <div class="container d-flex flex-row justify-content-center">
        <i class="fas fa-hamburger fa-5x text-warning"></i>
        <h1 class="display-4 text-white"><strong>&ThickSpace;Eat Da Burger&ThickSpace;</strong></h1>
        <i class="fas fa-hamburger fa-5x text-warning"></i>
    </div>
</header>

<h2>Menu</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-ready}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-eaten}}
    {{/if}}
    {{/each}}
</ul>

<h2>Create Your Own Burger</h2>
<form class="create-form" action="/api/burger" method="POST">

    <div class="form-group">
        <label for="ca">Burger Name</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>

<!-- Footer -->
<footer class="footer-margin">
    <div class="navbar fixed-bottom navbar-dark bg-dark justify-content-center">
        <span class="navbar-brand footer-font text-warning align-middle">Copyright &copy;2020
            &ThickSpace;|&ThickSpace;
            Chase Johnston</span>
        <a class="fab fa-github text-warning" href="https://github.com/johnstoc13" target="_blank"></a>
    </div>
</footer>